body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #232323;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(228, 58, 58);
}

h1 {
    color: white;
}
h1:hover{
    color: rgb(223, 88, 88);
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: rgb(209, 52, 52);
    margin-bottom: 5px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

#tasks {
    color: white;
}

#completedTasks {
    color: white;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    position: sticky;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}